@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: system-ui, sans-serif;
  }

  body {
    @apply antialiased text-gray-900;
  }
}

@layer components {
  .btn-primary {
    @apply flex items-center space-x-2 bg-primary text-white px-5 py-2.5 rounded-full hover:bg-primary/90 transition-colors;
  }

  .btn-secondary {
    @apply flex items-center space-x-2 bg-white text-gray-700 px-6 py-3 rounded-full border border-gray-200 hover:bg-gray-50 transition-colors;
  }
}

/* Your custom styles below */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
